<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:th="http://www.w3.org/1999/xhtml" -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Hello World</h1>

<p th:text="'Hello, ' + ${name} + '!'"></p>


<div>
    <form th:method="POST" th:action="@{/add-new}" th:object="${record}">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" th:field="*{name}">

            <br>
            <input type="submit" value="Add record">
        </div>
    </form>
</div>

</body>
</html>
