<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="fragments/layout">

<body>
<div id="main" th:fragment="content">
    <div class="container">

        <form th:method="POST" th:action="@{~/category/add}" th:object="${category}">
            <div>
                <div class="form-group">
                    <label for="name">Category Name</label>
                    <input id="name" class="form-control" type="text" th:field="*{name}" required
                           placeholder="Category name">
                </div>
                <a class="btn btn-secondary" th:href="@{~/category}">Cancel</a>
                <button type="submit" class="btn btn-primary">Add category</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
